.navbar {
    background: var(--panel-gray);
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    color: var(--text-color);
    margin-left: 2%;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dropdown-gray);
    width: 15%;
    height: 100%;
    padding: 0 2vw;
    cursor: pointer;
    transition: background 1s ease;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
}

.dropdown:hover {
    background: var(--dropdown-hover);
}

.dropdown input[type=file] {
    display: none;
}

.dropdown h1 {
    margin: 0;
}

.menu {
    visibility: hidden;
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    border-radius: 10px;
    width: 100%;
    top: 10vh;
    right: 0;
    z-index: 1;
}

.menu li {
    text-align: center;
}

.menu li button, .menu li a {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 4% 0;
    background: var(--panel-gray);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.menu li button:hover, .menu li a:hover {
    background: var(--dropdown-gray);
}