.navbar {
    background: #464646;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    color: #fff;
    margin-left: 2%;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #353535;
    height: 100%;
    padding: 0 2vw;
    cursor: pointer;
    transition: background 1s ease;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
}

.dropdown:hover {
    background: #252525;
}

.dropdown h1 {
    margin: 0;
}

.menu {
    visibility: hidden;
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    border-radius: 10px;
    width: 100%;
    top: 10vh;
    right: 0;
    z-index: 1;
}

.menu li a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    padding: 12px;
    background: #444;
    color: #fff;
    transition: background 1s ease;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
}

.menu li a:hover {
    background: #333;
}