.add-application {
    width: 96%;
    max-height: 56%;
    margin: 2%;
    display: flex;
    justify-content: center;
}

.add-application form * {
    margin: 1% 0;
}

.add-application form {
    width: 80%;
    padding: 2%;
    background: var(--panel-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 25px;
    overflow-y: hidden;
}

.add-application form label {
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--text-color);
}

.add-application form input[type=text] {
    padding: 1%;
    font-size: 1.5vw;
    background: var(--form-background);
    border: 3px solid var(--form-border);
    border-radius: 10px;
    color: var(--text-color);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.add-application form input[type=text]:focus {
    outline: none;
    border: 3px solid var(--form-focus);
}

.add-application form textarea {
    padding: 1%;
    font-size: 1.25vw;
    background: var(--form-background);
    border: 3px solid var(--form-border);
    border-radius: 10px;
    color: var(--text-color);
    resize: none;
    overflow: hidden;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.add-application form textarea:focus {
    outline: none;
    border: 3px solid var(--form-focus);
}

.add-application form input[type=submit], .add-application form button {
    border: 3px solid #00467c;
    border-radius: 10px;
    background: #0063B1;
    color: var(--text-color);
    padding: 2%;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.add-application form input[type=submit]:hover, .add-application form button:hover {
    border: 3px solid #0063B1;
    background: #0191ff;
}