.app-manager {
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.app-manager form * {
    margin: 1% 0;
}

.app-manager form {
    width: 75%;
    padding: 2%;
    background: #444;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 25px;
    overflow-y: hidden;
}

.app-manager form label {
    font-size: 1.5vw;
    font-weight: bold;
}

.app-manager form input[type=text] {
    padding: 1%;
    font-size: 1.5vw;
    background: #333;
    border: 3px solid black;
    border-radius: 10px;
    color: #fff;
    transition: border 1s ease;
    -webkit-transition: border 1s ease;
    -moz-transition: border 1s ease;
}

.app-manager form input[type=text]:focus {
    outline: none;
    border: 3px solid #666;
}

.app-manager form textarea {
    padding: 1%;
    font-size: 1.25vw;
    background: #333;
    border: 3px solid black;
    border-radius: 10px;
    color: #fff;
    resize: none;
    transition: border 1s ease;
    -webkit-transition: border 1s ease;
    -moz-transition: border 1s ease;
}

.app-manager form textarea:focus {
    outline: none;
    border: 3px solid #666;
}

.app-manager form input[type=submit], .app-manager form button {
    border: 3px solid #00467c;
    border-radius: 10px;
    background: #0063B1;
    color: #fff;
    padding: 2%;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
    transition: border 1s ease, background 1s ease;
    -webkit-transition: border 1s ease, background 1s ease;
    -moz-transition: border 1s ease, background 1s ease;
}

.app-manager form input[type=submit]:hover, .app-manager form button:hover {
    border: 3px solid #0063B1;
    background: #0191ff;
}