.app-stats {
    width: 96%;
    max-height: 36%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-container {
    width: 80%;
    padding: 2%;
    background: var(--panel-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.stats-container h1 {
    color: var(--text-color);
    font-size: 2vw;
}

.stats-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.stats-list li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-list li h3 {
    color: var(--text-color);
    font-size: 1.75vw;
}

.stats-list li p {
    font-size: 1.75vw;
}

.total-apps p {
    color: var(--text-color);
}

.offers p {
    color: #0c0;
}

.interviews p {
    color: #0aa;
}

.rejections p {
    color: #f00;
}