.app-popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    color: var(--text-color);
    background: rgba(0, 0, 0, 0.8);
}

.popup {
    width: 50%;
    min-height: 50%;
    background: var(--panel-gray);
    padding: 2%;
    border: 3px solid var(--panel-border);
    border-radius: 20px;
}

.popup form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup form > * {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.popup form label {
    font-size: 1.5vw;
    font-weight: bold;
}

.popup form input:not([type=submit]) {
    width: auto;
    padding: 1%;
    font-size: 1.5vw;
    background: var(--form-background);
    border: 3px solid var(--form-border);
    border-radius: 10px;
    color: var(--text-color);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.popup form input:not([type=submit]):focus {
    outline: none;
    border: 3px solid var(--form-focus);
}

/*
    Removes arrows from number input
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.popup-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-buttons * {
    margin: 0 1%;
}

.popup form textarea {
    padding: 1%;
    font-size: 1.25vw;
    background: var(--form-background);
    border: 3px solid var(--form-border);
    border-radius: 10px;
    color: var(--text-color);
    resize: none;
    overflow-y: scroll;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.popup form textarea:focus {
    outline: none;
    border: 3px solid var(--form-focus);
}

.popup-buttons input[type=submit], .popup-buttons button {
    border: 3px solid #00467c;
    border-radius: 10px;
    background: #0063B1;
    color: var(--text-color);
    padding: 2%;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.popup-buttons input[type=submit]:hover, .popup-buttons button:hover {
    border: 3px solid #0063B1;
    background: #0191ff;
}

@media (max-width: 760px) {
    .popup {
        width: 80%;
        height: auto;
    }

    .popup form > * {
        margin: 1% 0;   
    }

    .popup form label {
        font-size: 6.5vw;
    }

    .popup form input:not([type=submit]) {
        font-size: 5vw;
    }

    .popup form textarea {
        font-size: 4.25vw;
    }

    .popup-buttons input[type=submit], .popup-buttons button {
        font-size: 7vw;
    }
}