.app-card {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: var(--card-color);
    border-radius: 16px;
    margin: 1% 0;
}

.app-information {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-information > * {
    width: 20;
    min-width: 22%;
    max-width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-information button {
    font-size: 1.5vw;
    min-width: 34%; 
    max-width: 34%;
    padding: 0 0px;
    transition: all 1s ease, color 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    cursor: pointer;
    text-align: center;
    background: none;
    border: none;
    color: var(--text-color);
    border-radius: 10px;
}

.app-card button:hover {
    color: #ccc;
    background: rgba(255, 255, 255, 0.3);
}

.app-card p {
    color: var(--text-color);
    font-size: 1.4vw;
}

.buttons {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: auto;
    text-decoration: none;
    border: none;
    font-size: 1.5vw;
    border-radius: 50%;
    padding: 2%;
    cursor: pointer;
    background: #ccc;
    transition: background 1s ease;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
}

.buttons button:hover {
    background: #fff;
}

.job-offer {
    animation: 3s linear infinite glowBorder;
}

.rejection {
    border: 1px solid #900;
}

.rejection * {
    text-decoration: line-through;
}

.rejection .buttons {
    text-decoration: none;
}

.interview-glow {
    border: 2px solid #9acd32;
}

@keyframes glowBorder {
    0%{
        border: 3px solid #00ff37;
    }
    25%{
        border: 3px solid #00fff2;
    }
    50%{
        border: 3px solid #003f3c;
    }
    75%{
        border: 3px solid #003f00;
    }
    100%{
        border: 3px solid #00ff37;
    }
}

@media (max-width: 760px) {
    .app-information {
        width: 60%;
        flex-direction: column;
    }
    .app-information > * {
        min-width: 100%;
        max-width: 100%;
    }
    .app-card button {
        font-size: 5vw;
    }
    .app-card p {
        font-size: 3.5vw;
    }
    .buttons {
        width: 40%;
    }
    .buttons button {
        font-size: 5vw;
    }
}